@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ebay Scraper</h1>
</div>

<div class="container" id="searchcontainer">
    
    <input type="text" id="ScrapeSearchTerm"/>
    <button id="StartScrapeButton" class="btn btn-default"> Start Scrape </button>

</div>

<div id="scraperesultscontainer" class="container">

</div>


